<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd">
    <!--组件扫描器-->
    <context:component-scan base-package="com.giit.www" />

<!--    &lt;!&ndash; 凭证匹配器 &ndash;&gt;-->
<!--    <bean id="credentialsMatcher" class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">-->
<!--&lt;!&ndash;        <property name="hashAlgorithmName" value="md5"/>&ndash;&gt;-->
<!--&lt;!&ndash;        <property name="hashIterations" value="1"/>&ndash;&gt;-->
<!--&lt;!&ndash;        <property name="storedCredentialsHexEncoded" value="true"/>&ndash;&gt;-->
<!--    </bean>-->

<!--    &lt;!&ndash; Realm实现 &ndash;&gt;-->
<!--    <bean id="userRealm" class="com.giit.www.realm.UserRealm">-->
<!--&lt;!&ndash;        <property name="credentialsMatcher" ref="credentialsMatcher"/>&ndash;&gt;-->
<!--    </bean>-->

<!--    &lt;!&ndash;ehcache&ndash;&gt;-->
<!--    <bean id="ehcacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">-->
<!--        <property name="configLocation" value="classpath:ehcache.xml"/>-->
<!--        <property name="shared" value="true"></property>-->
<!--    </bean>-->
<!--    &lt;!&ndash; end MyBatis使用ehcache缓存 &ndash;&gt;-->
<!--    &lt;!&ndash; 缓存管理器 使用Ehcache实现 &ndash;&gt;-->
<!--    <bean id="shiroCacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">-->
<!--        <property name="cacheManager" ref="ehCacheManager" />-->
<!--    </bean>-->

    <!-- 安全管理器 -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="userRealm"/>
    </bean>

    <!-- 相当于调用SecurityUtils.setSecurityManager(securityManager) -->
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod" value="org.apache.shiro.SecurityUtils.setSecurityManager"/>
        <property name="arguments" ref="securityManager"/>
    </bean>


<!--    &lt;!&ndash; 基于Form表单的身份验证过滤器 &ndash;&gt;-->
<!--    <bean id="formAuthenticationFilter" class="com.giit.www.filter.FormLoginFilter">-->
<!--    </bean>-->

    <!-- Shiro的Web过滤器 -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="filterChainDefinitions">
            <value>
                /login = authc
                /logout = logout
            </value>
        </property>
    </bean>

</beans>